/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-family: 'Krona', sans-serif;
	font-size: 1em;
	margin-bottom: 1.8em;
	text-align: justify;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

h1,
.main-nav {
	text-align: center;
}

h2,
a {
	color: #093a58;
}

h2
 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

nav {
	font-weight: 400;
	letter-spacing: .05em;
	padding: 25px;
}

h1,
.main.nav li {
	width: 100%;
}

.main-nav {
	margin-top: 30px;
}

.main-nav li {
	padding: 10px 0;
	margin: 5px auto;
}

img {
	max-width: 100%;
}



/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.container {
	width: 70%;
	margin: 0 auto;
}

.name {
	font-family: 'Frijole', cursive;
	font-size: 1.25em;
	padding-top: 25px;
	/* margin: 0;
	padding: .95em .95em;
	text-align: center; */
}

/* .main-nav {
	margin-top: 5px;
	padding-top: .5em;
} */

/* .name a,
.main-nav a {
	display: block;
	text-align: center;
	padding: 10px 15px;
} */

.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}

/* ---- Layout Containers ---- */

.main-header {
	padding: .5em 0;

}

.main-footer,
.footer-title,
.footer-text,
.contact-details {
	text-align: center;
}

.marketing,
.search,
.travel,
.map,
.photo,
.calc {
	max-height: 360px;
}

.title {
	padding-top: 25px;
}

.title,
.primary-title,
.secondary-title,
.tertiary-title,
.main-footer,
li {
	text-align: center;
	font-family: 'Frijole', cursive;
	font-size: .85em;
}


.profile-image {
	width: auto;
	margin: 0;

}

.profile-text {
	width: auto;
	margin: 0 auto;
	font-size: 1em;
	
}

.col {
	padding-right: 1em;
	padding-left: 1em;
}

/* .main-footer {
	background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
    width: 100%;
	padding: .5em 0;
	margin-top: 30px;
} */

footer .name,
.footer-nav a {
	font-size: .95em;
}

footer .name {
	text-align: left;
	float: left;
	width: initial;
	padding: 0;
	margin: 0;
}

.footer-nav .full {
	display: none;
}

.footer-nav {
	text-align: right;
}

.footer-nav li {
	display: inline-block;
	margin-right: 20px;
}

.footer-nav .top,
.footer-nav li:last-child {
	margin-right: 0;
}

.footer-nav a {
	color: #3acec2;
	text-transform: uppercase;
}

.footer-nav a:hover {
	color: #093a58;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

	.col {
		float: left;
		width: calc(50% - 20px);
		margin-bottom: 0;
	}

  	/* body {
  		padding-top: 200px; 
	} */

	.profile-image {
		float: right;
		margin: 0;
		margin-left: 35px;
	}


  	.main-header {
    	background: #fff;
    	box-shadow: 0 1px 4px rgba(0,0,0,.4);
    	width: 100%;
    	z-index: 1000;
	}

	.container {
		width: 90%;
		margin: 0 auto;
	}

	.name,
	.col {
		float: left;
	}

	.main-nav {
		margin-top: 0;
	}

	.main-nav li {
		display: inline-block;
		width: auto;
		margin-right: 15px;
		background-color: transparent;
	}

	.main-nav li:last-child {
		margin-right: 0;
	}

	.footer-nav .top {
		display: none;
	}

	.footer-nav .full {
		display: inline-block;
	}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width: 1024px) {

	.main-header section:first-of-type {
  		padding-top: 25px;
  		margin-bottom: 50px;
	}
	.main-header .name {
  		width: initial;
  		padding-top: 0;
	}
	.main-nav li {
  		padding: 0;
	}

	h1 {
		float: left;
		text-align: left;
		height: 12px;
		line-height: 12px;
	}

	.main-nav {
		text-align: right;
	
	}

	.col {
		width: calc(33.33% - 20px);
	}
	
	.container {
		width: 80%;
		max-width: 1150px;
	}


}