/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Krona', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	background-color: ivory;
}

p {
	font-size: .725em;
	text-align: center;
	line-height: 1.5em;
	padding: 0 15px 15px;
}

ul {
	padding-right: 40px;
}

h2,
h3,
a {
	color: #093a58;
}

h2,
h3,
h4 {
	margin-top: 0;
}

h4 {
	margin-bottom: .4em;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
	margin: 0;
	padding-top: 25px;
}

.main-nav {
	margin-top: 5px;
}

.name a,
.main-nav a {
	display: block;
	text-align: center;
	padding: 10px 15px;
}

.main-nav a {
	font-size: .95em;
	color: cornflowerblue;
	text-transform: uppercase;
}

.profile-image {
	width: 200px;
}

.main-nav a:hover {
	color: #093a58;
}


.main-nav li {
	border: 1px solid lightgray;
	margin-bottom: 10px;
	background: #fff;
	list-style-type: none;
}


/* ---- Layout Containers ---- */
.main-footer {
	text-align: center;
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
	box-shadow: 0 0 4px lightgray;
}

/* ---- Page Elements ---- */

.marketing,
.search,
.travel,
.map,
.photo,
.calc {
	padding-bottom: 25px;
	text-align: center;
	width: 200px;
}

.main-header,
.title,
.primary-title,
.secondary-title,
.tertiary-title,
.quarternary-title,
.quinary-title,
.senary-title {
	text-align: center;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

 .main-header {
	 text-align: center;
 }

 .main-nav {
	display: inline-block;
	margin-top: 0;
	line-height: 1.5;
 }

 .name {
	 padding-top: 30px;
	 margin-top: 0;
	 line-height: 1.4;
 }

 .main-nav li {
	 display: inline-block;
	 padding-right: 20px;
 }

 .container {
	 width: 100%;
 }

 .col {
	 min-height: 500px;
	 width: 40%;
	 padding: 0 0.5em;
 }

 .profile-image {
	 float: right;
	 width: 50%;
	 margin-top: 0;
 }

 .container p {
	 width: 50%;
	 float: left;
	 padding-top: 50px;
 }

}

@media (min-width: 1025px) {

	.main-header {
    position: fixed;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
    width: 100%;
    top: 0;
    z-index: 1000;
}

	.container {
		width: 90%;
		margin: 0 auto;
		position: relative;
	}

	.name,
	.col {
		float: left;
	}


	.main-nav {
		float: right;
	}

	.main-nav li {
		display: inline-block;
		margin-left: 15px;
	}
	
	.container {
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}

	.primary,
	.secondary,
	.tertiary,
	.quarternary,
	.quinary,
	.senary {
		width: 33.33%;
	}

	.marketing,
	.search,
	.travel,
	.map,
	.photo,
	.calc {
		width: 200px;
		margin: 0;
	}

		/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}