/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-family: 'Krona', sans-serif;
	font-size: .7em;
	margin-bottom: 1.8em;
	text-align: center;
}

ul {
	list-style-type: none;
}

h2,
a {
	color: #093a58;
}

h2
 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}



/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */


.name {
	font-family: 'Frijole', cursive;
	font-size: 1.25em;
	margin: 0;
	padding: .95em .95em;
	text-align: center;
}

.main-nav {
	margin-top: 5px;
	padding-top: .5em;
}

.name a,
.main-nav a {
	display: block;
	text-align: center;
	padding: 10px 15px;
}

.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}

/* ---- Layout Containers ---- */

.main-header {
	padding: .5em 0;

}

.title,
.primary-title,
.secondary-title,
.tertiary-title,
.main-footer,
li {
	text-align: center;
	font-family: 'Frijole', cursive;
	font-size: 1em;
}


.profile-image {
	width: 214px;
	height: 100px;
	margin-top: 60px;
	margin-right: 25px;
}

.col {
	padding-right: 1em;
	padding-left: 1em;
}

.main-footer {
	background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
    width: 100%;
	padding: .5em 0;
	margin-top: 30px;
}

/* ---- Page Elements ---- */

.logo {
	width: 190px;
}

.headline {
	margin-bottom: 0;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

	.col {
		float: left;
		width: calc(50% - 20px);
		margin-bottom: 0;
	}

  	body {
  		padding-top: 200px; 
	}

	.profile-image {
		float: right;
		margin: 0;
		margin-left: 35px;
	}

	.profile-text {
		margin: 0;
		margin-right: 35px;
		font-size: 14px;
	}

  	.main-header {
    	position: fixed;
    	background: #fff;
    	box-shadow: 0 1px 4px rgba(0,0,0,.4);
    	width: 100%;
    	top: 0;
    	z-index: 1000;
	}

	.container {
		width: 90%;
		margin: 0 auto;
	}

	.name,
	.col {
		float: left;
	}

	.main-nav {
		float: right;
	}

	.main-nav li {
		display: inline-block;
		margin-left: 15px;
	}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width: 1024px) {

	.col {
		width: calc(33.33% - 20px);
	}
	
	.container {
		width: 80%;
		max-width: 1150px;
	}

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}